<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <ul style="color:#ff0000;">
        <% if (typeof dashboard_info != "undefined") { %>
            <li><%= "Working" %></li>
        <% } %>
    </ul>
    <a href="/">Logout</a>
</body>
</html>