<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Login</title>
</head>
<body>
    <h1>Log in</h1>

    <ul style="color:#1d6911;">
        <% if(messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
        <% } %>
    </ul>
    <ul style="color:#ff0000;">
        <% if (messages.error) { %>
            <li><%= messages.error %></li>
        <% } %>
    </ul>

    <form action="/login" method="POST">
        <div>
            <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Username"
                    required
            />
        </div>
        <div>
            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
            />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>

        <ul style="color:#ff0000;">
            <% if (typeof errors != "undefined" && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                <li><%= error.message %></li>
                <% }) %>
            <% } %>
        </ul>

        <a href="/register">Register</a>
    </form>
</body>
</html>